
body{
    background-color: black; 
    color:black;
     }


a {
    color: #e74c3c; 
    text-decoration: none; 
}
a:hover {
    color:white;
    background: orange;
}
h1{
    color: white;;
    background: orange;
    padding: 15px;
}
#h11{
    color: white;
}
#h12{
    color: white;
}
#h21{
    color: white;
}
#h22{
    color: white;
}
#h31{
    color: white;
}
#h32{
    color: white;
}
img{
    max-width: 100%;
    border-radius: 8px;
}
img:hover {
    box-shadow: 0 0 15 px orange;
}

